<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Portal training</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
</head>
<body ng-app="training">
    Welcome to the start page for this training.

    <div ng-view=""></div>
    <script th:src="@{/js/lib/polyfills.js}"></script>
    <script th:src="@{/webjars/angularjs/1.5.8/angular.min.js}"></script>
    <script th:src="@{/webjars/angularjs/1.5.8/angular-route.js}"></script>
    <script th:src="@{/webjars/angularjs/1.5.8/angular-resource.min.js}"></script>
    <script th:src="@{/js/app.js}"></script>
    <script th:src="@{/js/controllers.js}"></script>
</body>
</html>